{% extends 'base.html' %}

{% load static %}

{% block section %}
    <div style="display: flex;">
        <h2>Estudiante</h2>
        <a class="btn btn-success" href="{% url "estudiante-create" %}" style="margin-left: 850px;">Agregar</a>
    </div>
    <hr>
{% endblock section %}

{% block maincontent %}
<div class="row">
    {% for estudiante in estudiante_list %}
        <div class="col-6">
            <div class="card">
                <div class="card-header" style="font-weight: bold;">
                    Estudiante {{ estudiante.nombre }}
                </div>
                <div class="card-body">
                    <h5 class="card-title" style="font-weight: bold;">Detalles</h5>
                    <br><br>
                    <ul>
                        <li>
                            <div style="display: flex;">
                                <span style="font-weight: bold;">Correo:</span>
                                <p class="card-text" style="margin-left: 10px;">{{ estudiante.correo }}</p>
                            </div>
                        </li>
                        <li>
                            <div style="display: flex;">
                                <span style="font-weight: bold;">Dirección:</span>
                                <p class="card-text" style="margin-left: 10px;">{{ estudiante.direccion }}</p>
                            </div>
                        </li>
                        <li>
                            <div style="display: flex;">
                                <span style="font-weight: bold;">Celular:</span>
                                <p class="card-text" style="margin-left: 10px;">{{ estudiante.celular }}</p>
                            </div>
                            
                        </li>
                        <li>
                            <div style="display: flex;">
                                <span style="font-weight: bold;">Matriculado(a) a:</span>
                                <p class="card-text" style="margin-left: 10px;">{{ estudiante.materia }}</p>
                            </div>
                            
                        </li>
                    </ul>
                    <hr>
                    <a class="btn btn-primary" href="{% url 'estudiante-update' estudiante.id %}">Edit</a>
                    <a class="btn btn-danger" href="{% url 'estudiante-delete' estudiante.id %}">Delete</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock maincontent %}