{% extends 'base.html' %}

{% load static %}

{% block section %}
    <div style="display: flex;">
        <h2>Materia</h2>
        <a class="btn btn-success" href="{% url "materia-create" %}" style="margin-left: 850px;">Agregar</a>
    </div>
    <hr>
{% endblock section %}

{% block maincontent %}
<div class="row">
    {% for materia in materia_list %}
        <div class="col-6">
            <div class="card">
                <div class="card-header" style="font-weight: bold;">
                    Materia {{ materia.nombre }}
                </div>
                <div class="card-body">
                    <h5 class="card-title" style="font-weight: bold;">Detalles</h5>
                    <br><br>
                    <ul>
                        <li>
                            <div style="display: flex;">
                                <span style="font-weight: bold;">Profesor:</span>
                                <p class="card-text" style="margin-left: 10px;">{{ materia.profesor }}</p>
                            </div>
                        </li>
                    </ul>
                    <hr>
                    <a class="btn btn-primary" href="{% url 'materia-update' materia.id %}">Edit</a>
                    <a class="btn btn-danger" href="{% url 'materia-delete' materia.id %}">Delete</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock maincontent %}